{% extends "base.html" %}
{% block title %} Подача тезисов {% endblock %}
{% block content %}
<h1 class="manrope flex flex-horizontal-center"> Заявка на участие </h1>
<form  method="post" enctype="multipart/form-data">>
    {% csrf_token %}
    <div class="wrapper flex flex-horizontal-center">
        <div class=" manrope reg_container">
            <div class=" manrope flex flex-horizontal-center">  {{form.fio}} </div>
            <div class="manrope flex flex-horizontal-center"> {{form.article_name}} </div>
            <div class="manrope flex flex-horizontal-center"> {{form.abstract}} </div>
            <div class="manrope flex flex-horizontal-center"> {{form.thesis}} </div>
            <div class="manrope flex flex-horizontal-center"> {{form_file.file}} </div>
            <div class="manrope flex flex-horizontal-center">
                <input class="manrope input_button" type="submit" value="Подать заявку">
            </div>
        </div>
    </div>
</form>

{% endblock %}