{% extends "base.html" %}
{% block title %} Подача тезисов {% endblock %}
{% block content %}

<div class="wrapper_form">
<form action="." method="post">

    <div class="container_form">

        <div>
            {{form_article.reg_id}}
        </div>

        <div>
            {{form_article.fio}}
        </div>
        <div>
            {{form_article.article_name}}
        </div>

        <div>
            {{form_article.abstract}}
        </div>

    </div>
    <div class="container_form_content">
        <div>
            {{form_article.thesis}}

        </div>
    </div>
    <div class="flex flex-horizontal-center">
        <input class="submit_button" type="submit" value="Сохранить">
    </div>
    {% csrf_token %}
</form>
</div>
{% endblock %}