/* Настойки тега хтмл */
body{
    margin:0;
}
html {
        background: #faf3e8;
        overflow-x:  hidden;
        width:100vw;
}
/* Ширина скроллбара */
::-webkit-scrollbar {
    width: 10px;
     transition: 0.15s;

}

/* Вид скроллбара*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #21b0db;
}
/* Задний фон скролбара*/
::-webkit-scrollbar-track{
    background: #000000dc;
}

/* РНастройки списка */

.inside_base{
    display:flex;
    flex-direction:column;
    gap:5px;

}

.navbar {
    background: skyblue;

    border-radius:0 0 10px 10px;

}
.swiper_container{
}
/* Настройка контейнера навбара */
.flex-container{
    border-radius:5px;
    list-style: none;
    margin: 0;
}
/* Настройка ссылок-кнопок внутри навбара*/
.flex-container a{
  border-radius: 5px;
  text-decoration: none;
  font-size:18px;
  padding:20px;
  marin:10px;
  color: #00008B;
  transition: 0.15s;
}

/* Change the link color on hover */
.flex-container a:hover {
  background: #00008B;
  color: white;
  transition: 0.15s;
}

/* Описание кнопки ссылки внутри свайпера */

.button_type a {

    text-decoration: none;
    border-radius:50px;
    padding:20px 100px;
    background-color:#fc9700dc;
    color: #041624dc;
    font: 50px/1 sans-serif;
    transition: 0.15s;

}
label {
    font: 15px/1 sans-serif;
    text-decoration: none;
    color: #041624dc;
    padding:5px;

}
/* инпут поля(по хорошему переделать ) */
input {
  width: 100%;
  padding: 10px;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;

}

   /* класс из формы в питоне  */
.input_form {
  border-radius: 10px;
  max-width:95%;
}

.input_form_content {
  border-radius: 5px;
  width:98%;
  height:150px;
  font: 15px/1 sans-serif;
  text-decoration: none;

}
/* Стиль таблицы надо будет переработать  */


table {
        font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        font-size: 14px;
        text-align: center;
        border-collapse: collapse;
        border-radius: 10px;
        box-shadow: 0 0 0 5px #F2906B;
        color: #452F21;
        width:50%;
}
th {
        padding: 10px 8px;
        background: white;
}
table th:first-child {
        border-top-left-radius: 10px;
}
table th:last-child {
        border-top-right-radius: 10px;
}
td {
        border-top: 5px solid #F2906B;
        padding: 8px;
        background: white;
}
        table td:first-child {
        border-bottom-left-radius: 10px;
}
        table td:last-child {
        border-bottom-right-radius: 10px;
}

/* Кнопки сохрания и отправки данных   */

.submit_button {
    text-decoration: none;
    border-radius:20px;
    padding:15px 70px;
    background-color:#fc9700dc;
    color: #041624dc;
    font: 20px/1 sans-serif;
    transition: 0.15s;
    max-width:50%;
}

.submit_button:hover {
    background: #fbc02d;
    color: white;
    animation: fadeIn 5s;
    transition: 0.15s;
}

.link_button {
    text-decoration: none;
    border-radius:20px;
    padding:5px 10px;

    color: #041624dc;
    font: 15px/1 sans-serif;
    transition: 0.15s;
    max-width:95%;
}

.link_button:hover {
    background: #fbc02d;
    color: white;
    animation: fadeIn 5s;
    transition: 0.15s;
}


@font-face {
          font-family: 'Manrope';;
          src: local("../fonts/Manrope-Regular.ttf"), url("../fonts/Manrope-Regular.ttf") format("truetype");
          font-style: normal;
        }

.manrope{
    font-family: 'Manrope';
    font-style: normal;
    text-decoration:none
}

.tabs_container{
    padding:10px 50px;

    display:flex;
    font-size:20px;
    justify-content: center;
    flex-direction:column;
    gap:30px;
}

ul{
    margin:0;
    list-style: square;
}

p{
    margin:0;
}

h3{
    margin:0;
}

h4{
    margin:0;
}