{% extends "base.html" %}
{% block title %} Конференция {% endblock %}
{% block content %}



    <div class="container">
        <div class="section__tabs tabs">
            <div class="tabs__head">
                <div class="tabs__caption manrope" data-tab="home"> О конференции </div>
                <div class="tabs__caption manrope" data-tab="portfolio"> Оргкомитет </div>
            </div>
            <div class="tabs__body">
                <div class="tabs__content" data-tab="home">
                    <div class="tabs_container manrope">
                        <p> Международная научная конференция «Современная гидрогеология: актуальные вопросы науки, практики и образования» посвящена 70-летию основания кафедры гидрогеологии геологического факультета МГУ им. М.В. Ломоносова.</p>

                        <p> Конференция пройдет в очном формате с 17 по 23 сентября 2023 года в центре поселка Вишневка Лазаревского района города Сочи в живописнейшем уголке Черноморского побережья Кавказа на базе пансионат МГУ «Буревестник».</p>

                        <h3> На конференции предполагается рассмотреть современные теоретические и практические проблемы гидрогеологии по следующим направлениям: </h3>

                    <ul >
                        <li> Региональная гидрогеология </li>
                        <li> Гидрогеодинамика </li>
                        <li> Гидрогеохимия и изотопный состав подземных вод </li>
                        <li> Гидрогеоэкология и гидрогеологические проблемы техногенеза </li>
                        <li> История, методология и современные проблемы преподавания гидрогеологии </li>
                        <li> Нефтяная гидрогеология </li>
                        <li> Методика гидрогеологических исследований </li>

                    </ul>
                    <p> В рамках конференции планируется проведение молодежной научной секции для студентов, аспирантов и молодых ученых, проведение специальной обзорной секции по проблемам и решениям использования российского программного обеспечения для моделирования гидрогеологических процессов.
                    Язык конференции русский и английский. Предполагаются устные и стендовые очные доклады.
                    Участие бесплатное. Товарищеский ужин оплачивается на месте.
                    Тексты докладов буду опубликованы в электронном сборнике и проиндексированы в национальной библиографической базе данных научного цитирования РИНЦ.
                        Просим направить текст доклада (до 6 страниц), оформленный согласно <a href="/download"> шаблону </a>, не позднее 1-го июня 2023 г. на электронную почту <b> msu_hydro70@mail.ru </b> или загрузить на сайте конференции адрес сайта.</p>



                        <h3> Важные даты: </h3>
                        <ul>
                            <li> Октябрь 2022 – рассылка 1-го циркуляра </li>
                            <li> До 30 января 2023 – прием аннотаций </li>
                            <li> Февраль 2023 - рассылка 2-го циркуляра, начало регистрации и приема тезисов докладов </li>
                            <li> До 1 мая 2023 – прием заявок на проживание </li>
                            <li> 1 июня 2023 – окончание регистрации и приема тезисов докладов </li>
                            <li> Август 2023 – рассылка предварительной программы </li>
                        </ul>
                    </div>
                </div>

                <div class="tabs__content" data-tab="portfolio">
                    <div class="tabs_container manrope" >
                        <h4> Сопредседатели </h4>
                        <ul>
                            <li> Академик Пущаровский Д.Ю., президент Геологического ф-та МГУ </li>
                            <li> Д.г-м.н Поздняков С.П., зав. каф. гидрогеологии Геологического ф-та МГУ </li>
                        </ul>
                        <h4> Ученый секретарь конференции </h4>
                            <ul>
                                <li> к.г.-м.н. Казак Е.С., внс Геологического ф-та МГУ </li>
                            </ul>
                        <h4> Члены оргкомитета </h4>
                        <ul>
                            <li> чл-корр РАН, д.г.-м.н. Румынин В.Г. </li>
                            <li> д.т.н. Тагильцев С.Н. </li>
                            <li> д.г.-м.н. Рыбникова Л.С. </li>
                            <li> д.г.-м.н. Оролбаева Л.Э.</li>
                            <li> д.г.-м.н. Лаврушин В.Ю.</li>
                            <li> д.г.-м.н. Язвин А.Л.,</li>
                            <li> д.г.-м.н. Галицкая И.А.</li>
                            <li> к.г.-м.н. Ван Пин</li>
                            <li> д.г.-м.н. Штенгелов Р.С.</li>
                            <li> д.г.-м.н. Лехов А.В.</li>
                            <li> д.г.-м.н. Гриневский С.О.</li>
                            <li> д.г.-м.н. Харитонова Н.А.</li>
                            <li> к.г.-м.н. Корзун А.А.</li>
                            <li> к.г.-м.н Орлов М.С.</li>
                            <li> к.г.-м.н Маслов А.А.</li>
                            <li> к.г.-м.н Филимонова Е.А.</li>
                            <li> к.т.н. Расторгуев А.В. </li>
                            <li> к.г.-м.н Семенова В.М. </li>
                        </ul>

                        <h4> Техн. Секретарь </h4>

                        <ul>
                            <li> к.г.-м.н. Лямина Л.И.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>

  document.addEventListener('DOMContentLoaded', () => { // Структура страницы загружена и готова к взаимодействию

  const tabs = () => { // объявляем основную функцию для вкладок, чтобы вся логика была в одном месте
    const head = document.querySelector('.tabs__head') // ищем элемент с кнопками и записываем в константу
    const body = document.querySelector('.tabs__body') // ищем элемент с контентом и записываем в константу

    const getActiveTabName = () => { // объявляем функцию для получения названия активной вкладки
      return head.querySelector('.tabs__caption_active').dataset.tab // возвращаем значение data-tab активной кнопки
    }

    const setActiveContent = () => { // объявляем функцию для установки активного элемента контента
      if (body.querySelector('.tabs__content_active')) { // если уже есть активный элемент контента
        body.querySelector('.tabs__content_active').classList.remove('tabs__content_active') // то скрываем его
      }
      body.querySelector(`[data-tab=${getActiveTabName()}]`).classList.add('tabs__content_active') // затем ищем элемент контента, у которого значение data-tab совпадает со значением data-tab активной кнопки и отображаем его
    }

    // проверяем при загрузке страницы, есть ли активная вкладка
    if (!head.querySelector('.tabs__caption_active')) {  // если активной вкладки нет
      head.querySelector('.tabs__caption').classList.add('tabs__caption_active') // то делаем активной по-умолчанию первую вкладку
    }

    setActiveContent(getActiveTabName()) // устанавливаем активный элемент контента в соответствии с активной кнопкой при загрузке страницы

    head.addEventListener('click', e => { // при клике на .tabs__head
      const caption = e.target.closest('.tabs__caption') // узнаем, был ли клик на кнопке
      if (!caption) return // если клик был не на кнопке, то прерываем выполнение функции
      if (caption.classList.contains('tabs__caption_active')) return // если клик был на активной кнопке, то тоже прерываем выполнение функции и ничего не делаем

      if (head.querySelector('.tabs__caption_active')) { // если уже есть активная кнопка
        head.querySelector('.tabs__caption_active').classList.remove('tabs__caption_active') // то удаляем ей активный класс
      }

      caption.classList.add('tabs__caption_active') // затем добавляем активный класс кнопке, на которой был клик

      setActiveContent(getActiveTabName()) // устанавливаем активный элемент контента в соответствии с активной кнопкой
    })
  }

  tabs() // вызываем основную функцию

})
</script>
{% endblock %}