{% extends "base.html" %}
{% block title %} Контакты {% endblock %}
{% block content %}
{% load static %}
<div class="tabs_container manrope">
    <p> По всем вопросам, связанным с участием и организацией Международной научной конференции «Современная
        гидрогеология: актуальные вопросы науки, практики и образования», просим обращаться</p>
    <ul>
        <li> к ученому секретарю конференции к.г.-м.н. в.н.с. геологического ф-та МГУ Казак Екатерине Сергеевне</li>
        <li> к техническому секретарю к.г.-м.н. Ляминой Ларисе Андреевне</li>
    </ul>
    <p> по e-mail: <b> msu_hydro70@mail.ru </b>
    </p>


    <h3> Место проведения конференции: </h3>
    <ul>
        <li> 354220, г. Сочи, Л-220, пос. Вишневка, ул. Майкопская, 24</li>
        <li><a href="http://burevestnik.info"> Официальный сайт Пансионата МГУ «Буревестник» </a></li>
    </ul>

    <h3> Как добраться до Сочи: </h3>
    <ul>
        <li> Авиатранспортом до аэропорта Адлер</li>
        <li> Железнодорожным транспортом</li>
        <li> На собственном автомобиле</li>
    </ul>

    <h3> Транспорт до Сочи: </h3>
    <ul>
        <li> До железнодорожной станции «ЛАЗАРЕВСКОЕ», далее рейсовым автобусом № 80 (Лазаревское - Шепси) до остановки
            «БУРЕВЕСТНИК 2 отд.»
        </li>
        <li> Электропоездом:от станции «ЛАЗАРЕВСКОЕ»(Сочи (Адлер) – Туапсе) до станции «СПУТНИК», от станции «ТУАПСЕ»
            (Туапсе – Сочи (Адлер)) до станции «СПУТНИК».
        </li>
    </ul>
</div>
<div class=" flex flex-horizontal-center">
    <img style="width:70%;" src="{% static 'img/map.png' %}" alt="Картинка"/>
</div>
{% endblock %}