{% extends "base.html" %}
{% block title %} О кафедре {% endblock %}
{% block content %}
{% load static %}

<div class="faculty_container flex flex-horizontal-center">


    <img style="width:600px;" src="{% static 'img/lange.png' %}" alt="Картинка"/>

    <div class="manrope tabs_container">
        <h4 class="manrope flex flex-horizontal-center">
            Основатель и первый заведующий кафедрой гидрогеологии &nbsp<a href="https://ru.wikipedia.org/wiki/%D0%9B%D0%B0%D0%BD%D0%B3%D0%B5,_%D0%9E%D0%BA%D1%82%D0%B0%D0%B2%D0%B8%D0%B9_%D0%9A%D0%BE%D0%BD%D1%81%D1%82%D0%B0%D0%BD%D1%82%D0%B8%D0%BD%D0%BE%D0%B2%D0%B8%D1%87">Октавий Константинович Ланге</a> &nbsp (1953-1964 гг).</h4>

        <p> Кафедра гидрогеологии основана на геологическом факультете МГУ в 1953 году и в настоящее время является
            крупным образовательным и научным центром в области гидрогеологии в нашей стране.</p>

        <p> Заведующими кафедрой в разные времена были выдающиеся советские ученые – <a href="https://ru.wikipedia.org/wiki/%D0%9A%D1%83%D0%B4%D0%B5%D0%BB%D0%B8%D0%BD,_%D0%91%D0%BE%D1%80%D0%B8%D1%81_%D0%98%D0%B2%D0%B0%D0%BD%D0%BE%D0%B2%D0%B8%D1%87"> Борис Иванович Куделин (1964-1972)</a>,
            <a href="https://ru.wikipedia.org/wiki/%D0%A8%D0%B5%D1%81%D1%82%D0%B0%D0%BA%D0%BE%D0%B2,_%D0%92%D1%81%D0%B5%D0%B2%D0%BE%D0%BB%D0%BE%D0%B4_%D0%9C%D0%B8%D1%85%D0%B0%D0%B9%D0%BB%D0%BE%D0%B2%D0%B8%D1%87">  Всеволод Михайлович Шестаков (1972-1988)</a>, <a href="https://ru.wikipedia.org/wiki/%D0%92%D1%81%D0%B5%D0%B2%D0%BE%D0%BB%D0%BE%D0%B6%D1%81%D0%BA%D0%B8%D0%B9,_%D0%92%D0%BB%D0%B0%D0%B4%D0%B8%D0%BC%D0%B8%D1%80_%D0%90%D0%BB%D0%B5%D0%BA%D1%81%D0%B5%D0%B5%D0%B2%D0%B8%D1%87"> Владимир Алексеевич Всеволожский (1988-2009)<a/>. </p>

        <p> Сегодня коллектив кафедры состоит из 32 человек, из них пять докторов и десять кандидатов наук. За свою
            семидесятилетнюю историю кафедра подготовила более 1200 дипломированных специалистов, из которых около 200
            стали кандидатами и докторами наук.</p>

        <p> В настоящее время заведующим кафедрой является профессор <a
                href="http://istina.msu.ru/profile/SPPozdniakov/"> С.П. Поздняков </a></p>

        <p> Наша кафедра совместно с другими кафедрами отделения гидрогеологии, инженерной геологии и геокриологии <a
                href="https://geol.msu.ru/struktura-fakulteta/"> геологического факультета </a> готовит бакалавров по
            профилю <b> «Гидрогеология, инженерная геология, геокриология» </b>.</p>

        <h4> В магистратуре кафедры ведется подготовка по трем направлениям (модулям): </h4>
        <ul>
            <li> «Ресурсы и охрана подземных вод»</li>
            <li> «Нефтегазовая гидрогеология»</li>
            <li> «Экологическая гидрогеология»</li>
        </ul>

        <p> В рамках этих специализаций магистры могут более подробно изучать вопросы формирования и использования
            подземных вод зоны интенсивного водообмена или углубляться в проблемы гидрогеологии месторождений нефти и
            газа, или более детально изучать место и роль гидрогеологических процессов при решении геоэкологических
            задач.</p>
        <p> Каждый год 2-4 выпускника магистратуры поступают в аспирантуру, в случае успешного окончания которой
            защищают диссертацию по специальности “гидрогеология” на специализированном совете МГУ. Таким образом,
            сегодня на кафедре реализуется полный цикл гидрогеологического образования и обучения от бакалавра геологии
            до кандидата геолого-минералогических наук. Образовательный цикл кафедры популярен не только у российских
            выпускников школ, но и у студентов и стажеров, приезжающих на кафедру из-за рубежа. </p>
        <p> В научном плане сотрудники кафедры занимаются не только теоретическими и методическими исследованиями,
            выигрывая гранты РНФ, РФФИ и других фондов и публикуя по ним каждый год десятки статей в российских и
            международных журналах, но и в рамках хоздоговорных работ решают сложные современные практические проблемы,
            связанные с подземными водами. Традиционными направлениями практических работ кафедры являются: оценка
            запасов пресных и минеральных подземных вод, закачка промстоков, оценка миграции различных загрязнителей в
            подземных водах, прикладные проблемы нефтяной гидрогеологии на разрабатываемых и планируемых к разработке
            месторождениях углеводородов. Иными словами, договорные работы кафедры охватывают весь круг современных
            практических проблем гидрогеологических исследований. </p>
        <p> Материально-техническая база кафедры включает компьютерные классы с установленным современным программным
            обеспечением для обучения и решения гидрогеологических задач с использованием информационных технологий, а
            также модернизированные гидрогеохимическую и фильтрационную лаборатории. Уникальным для студентов нашей
            страны, а, может быть, и для всего мира является опытный гидрогеологический полигон кафедры, расположенный
            на территории Звенигородской биостанции МГУ. На этом полигоне спроектирована и оборудована устройствами
            мониторинга система кустов гидрогеологических скважин в трещинно-пористых коллекторах подземных вод. На базе
            этой системы студенты кафедры и стажеры проводят масштабные полевые опыты для оценки геофильтрационных и
            геомиграционных параметров, связывая полученные теоретические знания о геофильтрационных и геомиграционных
            процессах с практическими методами полевых гидрогеологических исследований. </p>
    </div>
</div>

{% endblock %}