{% extends "base.html" %}
{% block title %} О кафедре {% endblock %}
{% block content %}
{% load static %}

<div class="faculty_container flex flex-horizontal-center">


    <img src="{% static 'img/Lange.jpg' %}" alt="Картинка"/>


    <div class="manrope tabs_container"> <p> Кафедра гидрогеологии основана на Геологическом факультете МГУ в 1953 году. Заведующий
        кафедрой – проф. С. П. Поздняков</p>

        <p> Кафедра гидрогеологии основана на Геологическом факультете МГУ в 1953 году и в настоящее время является крупным образовательным и научным центром в области гидрогеологии в нашей стране.
        Заведующими кафедрой в разные времена были выдающиеся советские ученые – Борис Иванович Куделин (1964-1972), Всеволод Михайлович Шестаков (1972-1988), Владимир Алексеевич Всеволожский (1988-2009).
        Сегодня коллектив кафедры состоит из 32 человек, из них пять докторов и десять кандидатов наук. За свою семидесятилетнюю историю кафедра подготовила более 1200 дипломированных специалистов, из которых около 200 стали кандидатами и докторами наук.
        В настоящее время заведующим кафедрой является профессор С.П. Поздняков http://istina.msu.ru/profile/SPPozdniakov/
        </p>

        <p> Учеба на кафедре гидрогеологии является динамичным и интересным. Преподаватели кафедры постоянно разрабатывают и
        совершенствуют авторские методики обучения. Проф. Штенгеловым Р.С. и проф. Гриневским С.О. создан пакет программ
        для обучения студентов. Если на II курсе это контрольно-обучающая программа по курсу общей гидрогеологии в форме
        тестов, то на V курсе студенты уже разрабатывают бизнес-стратегию разведки и эксплуатации крупного
        месторождения подземных вод в форме деловой компьютерной игры.</p>

        <p> При подготовке курсовых и выпускных работ, в экспериментальной работе студенты кафедры интенсивно используют
        современные методы обработки информации и моделирования гидрогеологических процессов. На кафедре создана
        лаборатория математического моделирования гидрогеологических процессов, которая располагает вычислительными
        мощностями и современным программным обеспечением для моделирования геофильтрационных и геомиграционных
        процессов, разработанным как в России (специалистами кафедры и ЗАО Геолинк Консалтинг), так и за рубежом
        (Американской Геологической Службой, Национальными Лабораториями США, Университетами США, Швейцарии и Германии).</p>

        <p> Современная гидрогеология является одним из наиболее математизированных направлений геологии. Большинство
        теоретических и прикладных гидрогеологических расчетов — будь то решение систем дифференциальных уравнений
        фильтрации или расчеты физико-химических превращений в подземных водах, статистический анализ
        пространственно-временных закономерностей режима подземных вод или разработка постоянно-действующих
        гидродинамических моделей — объективно возможны лишь с применением программного обеспечения высокого класса,
            которым студенты овладевают в процессе обучения на кафедре.</p>  </div>
</div>

{% endblock %}