<!DOCTYPE html>
{% load static %}
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>{% block title %} Гидрогеология {% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
    <link rel='stylesheet' href="{% static 'css/looks.css' %}">
    <link rel='stylesheet' href="{% static 'css/flex.css' %}">
    <link rel='stylesheet' href="{% static 'css/classes.css' %}">
    <link rel='stylesheet' href="{% static 'css/media.css' %}">

    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
</head>
<body class="no_space">

<nav  class="navbar flex ">
    <ul class="flex-container flex flex-vertical-center">
<!--
        <li class="navitem flex flex-center"><a href="/"> <img src="{% static 'img/burevestnic_1.png' %}" width="100" height="50" alt="Картинка"/> </li></a>
-->
        <a href="/faculty"><li class="manrope navitem flex flex-center"> О кафедре гидрогеологии </li></a>
        <a href="/about_conference"><li class="navitem manrope flex flex-center"> Конференция </li></a>
        <a href="/download_thesis"><li class="navitem manrope flex flex-center"> Скачать правила оформления тезисов </li></a>
        <a href="/registration"><li class="navitem manrope flex flex-center">  Заявка на участие </li></a>
        <a href="/accommodation"><li class="navitem manrope flex flex-center"> Заявка на проживание </li></a>
       <a href="/contacts"> <li class="navitem manrope flex flex-center"> Контакты </li></a>
    </ul>
</nav>

<script src="{% static 'js/main.js' %}"></script>

<div class="inside_base"> {% block content %}{% endblock %}</div>
</body>
</html>
